* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body {
    background-color: #ffffff;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

footer {
    background-color: #1077bd;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}


